<a href = "l/en">English</a> | <a href = "l/de">Deutsch</a> | <a href = "l/es"><%= "Español" %></a>

<hr/>
<br/>
<br/>

<div class = "main">
<h1><%= t('topic_about') %></h1>
<h2><%= t('about_head') %></h2>

<p class = "para">
	<%= t('about_what') %><a href = "https://phraseapp.com/">PhraseApp</a>.
</p>
<br/>
<p class = "menu">
	<a href = "../"><%= t('back_to_home') %></a>
</p>
</div>
