<a href = "l/en">English</a> | <a href = "l/de">Deutsch</a> | <a href = "l/es"><%= "Español" %></a>

<hr/>
<br/>
<br/>
<div class = "main">
<h1><%= t('topic_contact') %></h1>
<h2><%= t('contact_head') %></h2>
<p class = "para">
	<b><%= t('contact_email') %>:</b><br/>
	<a href="mailer">mail@www.net</a><br/><br/>
	<b><%= t('contact_phone') %>:</b><br/>
	+03141 1352 1239289<br/><br/>
	<b><%= t('contact_adress') %>:</b><br/>
	Street Nr. 123<br/>
	31415 Pitown<br/>
	GERMANY<br/>
</p>
<br/>
<p class = "menu">
	<a href = ".."><%= t('back_to_home') %></a>
</p>
</div>