<a href = "l/en">English</a> | <a href = "l/de">Deutsch</a> | <a href = "l/es"><%= "Español" %></a>

<hr/>
<br/>
<br/>
<div class = "main">
<h1><%= t('.welcome_head') %></h1>

	<p class = "para">
		<%= t('.welcome_text') %><br/
		
	</p>
	
	<br/>
	<h2><%= t('.topic_head') %></h2>
	<div class = "menu">
		<a href = "about"><%= t('.about_head') %></a></br>
		<a href = "contact"><%= t('.contact_head') %> </a>
	</div>
</div

